.hello:link {
    color: orange;
}
.hello:hover {
    font-size: 20px;
    color: green;
}
.hello:active {
    font-style: italic;
}
.hello:visited {
    color: red;
}

li:first-child a {
    color: lightblue;
}
li:last-child a {
    color: blue;
}
li:nth-child(5) a {
    color: orange;
}
/* li:nth-child(even)
li:nth-child(odd) */
/* p:first-of-type
p:last-of-type  */
